<?xml version="1.0" encoding="utf-8"?>
<!-- IIS. La publication complète la section aspNetCore (processPath, arguments); le reste est conservé. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- WebDAV intercepte PUT et DELETE (405 Method Not Allowed) avant ASP.NET Core : on le retire du site. -->
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\OIM.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
